# Python environments
*.pyc
__pycache__/
venv/
.venv/
*.log

# 공통으로 무시할 파일 및 디렉토리
.DS_Store
*.log*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# etc
/data/
Pipfile.lock
langchain.db
.env
/neo4j
/logs/
/doc/
# Ignore src and target folders
/src/
/target/

# Ignore LogComparisonResult.json
LogComparisonResult.json

# Private Datas
p_*

# Test data JSON files
test/data/neo4j_exports/records.json

# Note folder
/note/