[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
langchain = "*"
openai = "*"
langserve = "*"
fastapi = "*"
sse-starlette = "*"
uvicorn = "*"
supabase = "*"
psycopg2-binary = "*"
python-multipart = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
