[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
aiofiles = "*"
langchain-community = "*"
langchain = "*"
langchain-core = "*"
openai = "*"
langchain-openai = "*"
neo4j = "*"
anthropic = "*"
langchain-anthropic = "*"
pyjson5 = "*"
pyyaml = "==6.0.1"
jinja2 = "==3.1.3"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.12"
