version: '3'
services:
  zookeeper:
    container_name: zookeeper
    image: quay.io/debezium/zookeeper:2.7
    ports:
     - 2181:2181
     - 2888:2888
     - 3888:3888

  kafka:
    container_name: kafka
    image: quay.io/debezium/kafka:2.7
    ports:
     - 9092:9092
    links:
     - zookeeper
    environment:
     - ZOOKEEPER_CONNECT=zookeeper:2181
     - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
     - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    depends_on:
     - zookeeper

  oracle:
    container_name: oracle
    image: container-registry.oracle.com/database/express:21.3.0-xe
    ports:
     - 1521:1521
     - 5500:5500
    environment:
     - ORACLE_PWD=debezium
     - ORACLE_CHARACTERSET=AL32UTF8
    volumes:
     - ./setup/01_init_database_config.sql:/opt/oracle/scripts/startup/01_init_database_config.sql
    command: ["/bin/sh", "-c", "exec /opt/oracle/runOracle.sh"]
  
  connect:
    image: quay.io/debezium/connect:2.7
    container_name: connect
    ports:
      - 8083:8083
    environment:
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
      BOOTSTRAP_SERVERS: kafka:9092
      CONNECT_BOOTSTRAP_SERVERS: kafka:9092
      CONNECT_REST_ADVERTISED_HOST_NAME: connect
      CONNECT_REST_PORT: 8083
    entrypoint: ["/bin/sh", "-c", "sleep 60 && /docker-entrypoint.sh start"]


  topic-creator:
    image: quay.io/debezium/kafka:2.7
    container_name: topic-creator
    depends_on:
      - kafka
    environment:
      - TABLE_NAMES=EMPLOYEES LEAVE_RECORDS WORK_LOGS
    command: >
      sh -c "
      sleep 60 &&
      /kafka/bin/kafka-topics.sh --create --topic \"server1\" --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --if-not-exists &&
      /kafka/bin/kafka-topics.sh --create --topic \"server2\" --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --if-not-exists &&
      for table in $$TABLE_NAMES; do
        topic_name1=\"server1.C__DEBEZIUM.$${table}\"
        topic_name2=\"server2.C__DEBEZIUM.$${table}\"
        /kafka/bin/kafka-topics.sh --create --topic \"$$topic_name1\" --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --if-not-exists
        /kafka/bin/kafka-topics.sh --create --topic \"$$topic_name2\" --bootstrap-server kafka:9092 --partitions 1 --replication-factor 1 --if-not-exists
      done
      "

  debezium-config:
    image: curlimages/curl
    container_name: curl
    depends_on:
     - connect
    command: >
      sh -c "
      sleep 120 &&
      curl -i -X POST -H 'Accept:application/json' -H 'Content-Type:application/json' connect:8083/connectors/ -d '{
        \"name\": \"plsqldb-connector\",
        \"config\": {
          \"connector.class\": \"io.debezium.connector.oracle.OracleConnector\",
          \"tasks.max\": \"1\",
          \"database.hostname\": \"oracle\",
          \"database.port\": \"1521\",
          \"database.user\": \"c##debezium\",
          \"database.password\": \"dbz\",
          \"database.dbname\": \"XE\",
          \"database.pdb.name\": \"plsqldb\",
          \"database.server.name\": \"server1\",
          \"topic.prefix\": \"server1\",
          \"schema.history.internal.kafka.bootstrap.servers\": \"kafka:9092\",
          \"schema.history.internal.kafka.topic\": \"schema-changes.inventory\",
          \"database.connection.adapter\": \"logminer\",
          \"log.mining.strategy\": \"online_catalog\",
          \"include.schema.changes\": \"true\"
        }
      }' &&
      curl -i -X POST -H 'Accept:application/json' -H 'Content-Type:application/json' connect:8083/connectors/ -d '{
        \"name\": \"javadb-connector\",
        \"config\": {
          \"connector.class\": \"io.debezium.connector.oracle.OracleConnector\",
          \"tasks.max\": \"1\",
          \"database.hostname\": \"oracle\",
          \"database.port\": \"1521\",
          \"database.user\": \"c##debezium\",
          \"database.password\": \"dbz\",
          \"database.dbname\": \"XE\",
          \"database.pdb.name\": \"javadb\",
          \"database.server.name\": \"server2\",
          \"topic.prefix\": \"server2\",
          \"schema.history.internal.kafka.bootstrap.servers\": \"kafka:9092\",
          \"schema.history.internal.kafka.topic\": \"schema-changes.javadb\",
          \"database.connection.adapter\": \"logminer\",
          \"log.mining.strategy\": \"online_catalog\",
          \"include.schema.changes\": \"true\"
        }
      }'"


  watcher-plsql:
    image: quay.io/debezium/kafka:2.7
    container_name: watcher-plsql
    depends_on:
     - connect
     - debezium-config
    volumes:
     - ./src/main/resources/logs:/kafka/logs
    command: >
      sh -c "
      sleep 90 &&
      /kafka/bin/kafka-console-consumer.sh --bootstrap-server kafka:9092 --whitelist 'server1.C__DEBEZIUM.*' --from-beginning >> /kafka/logs/plsql_logs.jsonl
      "

  watcher-java:
    image: quay.io/debezium/kafka:2.7
    container_name: watcher-java
    depends_on:
     - connect
     - debezium-config
    volumes:
     - ./src/main/resources/logs:/kafka/logs
    command: >
      sh -c "
      sleep 90 &&
      /kafka/bin/kafka-console-consumer.sh --bootstrap-server kafka:9092 --whitelist 'server2.C__DEBEZIUM.*' --from-beginning >> /kafka/logs/java_logs.jsonl
      "